[submodule "dbus_interfaces"]
	path = dbus_interfaces
	url = https://github.com/TplusA/DBus-Interfaces.git
[submodule "strbo_common"]
	path = strbo_common
	url = https://github.com/TplusA/StrBo-Common.git
